{% extends "_template.html.twig" %}

{% block content %}
    <div class="section">
        <h1 class="title">Album : {{ record.title }}</h1>
            {% include 'include/records-list.html.twig' with {r: record} %}
    </div>
{% endblock %}
